[Desktop Entry]
Version=1.0
Name=Tv Tock Tod
GenericName=Tv
Comment=Visualiza los canales de TV desde tu PC.
Exec=tvtocktod
Icon=tvtocktod
Type=Application
Categories=AudioPlayer;Player;Network;
